#board {
    height : 300px;
    width : 100px;
    background-color :grey;
    margin : 100px;
    margin-bottom : 0;
    border : 5px double black;
    /* padding : 10px 0 0 10px; */
}

.light {
    height : 80px;
    width : 80px;
    border : 2px solid black;
    margin : 12px 8px;
    border-radius : 50%;
}

#light1 {
    background-color : red;
}
#light2 {
    background-color : yellow;
}
#light3 {
    background-color : green;
}

#handle {
    height : 250px;
    width : 20px;
    background-color : brown;
    margin-left : 145px;
}