.box {
    height : 100px;
    width : 300px;
    background-color : pink;

    /* animation-name : widthAnimate;
    animation-duration : 1s;
    animation-timing-function : ease-in;
    animation-delay : 0;
    animation-iteration-count : 5;
    animation-direction : normal; */

    animation : colAnimate 1s ease-in 0s infinite normal;
    
}

@keyframes colAnimate {
    0% {
        background-color : green;
    } 50% {
        background-color : red;
    } 80% {
        background-color : yellow;
    } 100% {
        background-color : blue;
    }
}

@keyframes widthAnimate {
    from{
        width : 10px;
        font-size : 20px;
        background-color : green;
    }
    to{
        width : 400px;
        font-size : 40px;
        background-color : blue;
    }
}

@keyframes fontAnimation {
    from{font-size : 20px;}
    to{font-size : 40px;}
}

@keyframes colorAnimate {
    from{background-color : green;}
    to{background-color : blue;}
}