#navbar {
    width : 900px;
    height : 50px;
    background-color : pink;
    border-radius : 10px;
    border : 2px solid rgb(0, 151, 151);
    font-size : 24px;
    display : flex;
}

#logo {
    height : 50px;
    width : 80px;
    align-content : center;
    font-weight : bold;
}

.nav {
    height : 50px;
    width : 80px;
    align-content : center;
    font-weight : bold;
}