h1 {
    text-align:center;
    text-decoration:wavy red underline;
    letter-spacing : 20px;
    font-size : 50px;
    font-family:avant garde, didot, sans-serif;
}

h3{
    text-align : start;
    text-decoration: line-through;
    text-decoration-color : yellow;
}

p {
    text-align : justify;
    font-weight : 100;
    line-height : 2;
    font-size : 20px;
}

h2 {
    font-weight : 400;
    text-decoration: double blue overline;
    font-family : impact;
}

a {
    text-decoration: none;
    color : red;
}